*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    border: none
}

body{
    background-image: url('../tela-login/images/background.jpg');
    background-size: cover;
    background-position-y: -150px; /*posicionamento da imagem na tela*/
}

textarea:focus, input:focus{
    outline: none;
}

a, label {
    font-size: .8rem; /*relativo ao tamanho das diversas telas */
}

a:hover{
    color:rgb(5, 77, 8);
}

#login-container {
    background-color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh; /*inicio da tela */
    border-radius: 10px;
    text-align: center;
}


form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2pz solid #08558b;
}

#forgot-pass {
    text-align: right;
    display:block ;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #c23d08;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: #443f3f;
    transition: .5s;
}

#social-container, #social-container p{
    margin-bottom: 20px;
}

#social-container i {
    height: 40px;
    width: 40px;
    background-color: rgb(175, 52, 15);
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

#register-container p {
    margin-bottom: 10px;
}